.App {
  text-align: right;
}

.App-recetafresas {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-recetafresas {
    animation: App-recetafresas-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fefeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(27, 25, 25);
}

.App-link {
  color: #61dafb;
}

@keyframes App-recetafresas-spin {
  from {
    transform: font-size(0deg);
  }
  to {
    transform: font-size(360deg);
  }
}
